@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        width: 100%
        height: 100%
        object-fit: cover


@media ( max-width: 992px )
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar 
    &-top
      padding-top: 30px
      padding-bottom: 30px 
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search 
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      border-radius: 8px
  .booking
    width: 340px
  #map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  
@media ( max-width: 768px )
  .container 
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-slider
      height: 350px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .swiper
    &-container
      height: 350px
  .booking
    width: 49%
    &__heading
      font-size: 17px
    &__num
      font-size: 17px
  #map
    width: 49%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
    &-title
      &__strong
        margin-bottom: 37px 
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        transform: translate(-50%, 0)
        &--prev
          left: 50%
          margin-left: -90px
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
          

@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
    &-right
      min-height: 490px
      flex-direction: column
    &__slider
      margin-bottom: 20px
  .booking
    width: 100%
  .swiper
    &-container
      height: 250px

  #map
    width: 100%
    height: 250px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
  .subscribe
    max-width: 300px
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 45px
    &-slider
      height: 100%
 
    
  

@media ( max-width: 320px )
  .logo 
    width: 99px
    height: 13px
  .swiper
    &-container
      height: 179px
      position: relative
      &::after
        height: 100%
    &-slide
      height: 100%
      &__img
        height: 100%
        width: 100%
        object-fit: cover
  .slider
    width: 100%
    height: 179px
    margin-bottom: 20px
    &-button
      width: 10px
      height: 10px
      background-size: 5px
      &--prev
        left: 10px
      &--next
        right: 10px
  .hotel
    &-right
      min-height: 405px
      flex-wrap: wrap
  .stars
    margin-right: 11px
  .booking
    width: 100%
    height: 210px
  #map
    width: 100%
    height: 173px
    border-radius: 10px
    overflow: hidden
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    padding-left: 0
    padding-right: 0
    height: 320px
    &-wrapper
      flex-direction: column
    &-title
      margin-right: 98px
      margin-left: 0
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-bottom: 37px
  .subscribe
    max-width: 280px
  .reviews
    &-slider
      height: 100%
    &-title
      font-size: 18px
      line-height: 23px
      margin: auto
      margin-bottom: 42px
      width: 245px
      
    


        
      

      


