.footer
  background-color: $dark
  color: $light
  padding: 108px 0 0 0
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-row-gap: 20px
    grid-column-gap: 40px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &-breadcrumb
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    grid-column: 2 / 5
    &__links
      position: absolute
      min-width: 283px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 16px
      color: #fff
      left: 15%
    &__img
      position: absolute
      right: 0
    &__link
      text-decoration: none
      color: #fff
      margin-right: 7px
      &:hover
        color: $footer-text-color
  &-logo
    width: 166px
    grid-row: 1 / 3
    align-self: stretch
    margin-top: 30px
  &__categories
    grid-row: 1 / 4
  &__legal
    margin-left: 58px

  &__social
    &-links
      display: flex
      align-items: center
      justify-content: space-between
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      grid-column: span 2
      grid-row: span 2
    &-form
      grid-column: span 2
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 26px
  &__ul
    padding: 0
    margin: 0
    list-style: none

  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin-top: 0
    margin-bottom: 16px
    text-transform: uppercase
    &--inline
      margin: 0 43px 0 0
    &--mb-3
      margin-bottom: 34px
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: normal
    flex-wrap:
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--mb-2
      margin-bottom: 20px
  &__icon

    &-wrapper
      min-width: 40px
      margin-left: 15px
    &-link
      width: 20px
      height: 20px
      &:hover
        background-color: $primary
        border-radius: 50%
  &__link
    text-decoration: none
    color: inherit
    &:hover
      color: #edebeb
  &__button
    &:hover
      background-color: $button-hover

  &__text
    color: $footer-text-color
    margin-bottom: 22px
  &__input
    width: 100%
    font-size: 12px
    &-group
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $footer-text-color
      margin-bottom: 15px
      flex-basis: 48%
  &__message
    flex-basis: 100%
    margin-bottom: 22px
    min-height: 123px
    resize: none
    border-radius: 4px
    padding: 18px 23px
    font-size: 12px
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__number
    display: inline
    color: inherit
    text-decoration: none
    &:hover
      color: $phone-number
      text-decoration: underline
  &__email
    color: inherit
    text-decoration: none
    &:hover
      color: $phone-number
      text-decoration: underline
.work
  &-numbers
    flex-basis: 100%
.phone
  &__icon
    transform: translate(-20%, 25%)
  &__item
    margin-bottom: 30px
.point
  &__icon
    transform: translateY(30%)
.mail
  &__icon
    transform: translateY(20%)
